*{
    font-family: Maple Mono;
    border-radius: 8;
    font-size: 14px;
    padding: 0px;
    background: transparent;

}


#custom-powerbutton,
#clock,
#battery{
    background-image: linear-gradient(to bottom, #353f3f 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid #B200ED;
    color: #B200ED;

    transition-duration: 120ms;
}

#pulseaudio,
#bluetooth,
#network{
    background-image: linear-gradient(to bottom, #353f3f 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid #863FF0;
    color: #863FF0;

    transition-duration: 120ms;
}

#custom-applauncher,
#tray{
    background-image: linear-gradient(to bottom, #353f3f 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid #00fdf7;
    color: #00fdf7;

    transition-duration: 120ms;

}

#workspaces{
    background-image: linear-gradient(to bottom, #353f3f 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid #597FF2;
    color: #597FF2;

    transition-duration: 120ms;
}

#temperature,
#memory,
#cpu{
    background-image: linear-gradient(to bottom, #353f3f 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid #2DBEF5;
    color: #2DBEF5;

    transition-duration: 120ms;

}

 #workspaces button {
color: #597FF2;

}

#workspaces button.active {
color: #353f3f;
background-image: linear-gradient(to bottom, #597FF2 100%);
}


#custom-powerbutton{
 margin-right: 10px;
 
}

/*background-image: linear-gradient(135deg, #00fdf7, #B200ED) ;*/


