
@define-color bg-color #1e1e2e;
@define-color font-color #cdd6f4;
@define-color farleft-color #00fdf7;
@define-color left-color #2DBEF5;
@define-color center-color #597FF2;
@define-color right-color #863FF0;
@define-color farright-color #B200ED;


*{
    font-family: Maple Mono;
    border-radius: 8;
    font-size: 14px;
    padding: 0px;
    background: transparent;

}

#custom-applauncher,
#tray{
    background-image: linear-gradient(to bottom, @bg-color 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid @farleft-color;
    color: @farleft-color;

    transition-duration: 120ms;

}

#tray menu {
    background-color: @bg-color; 
    border: 1.5px solid @farleft-color;
    color: @font-color;            
    border-radius: 10px;        
}


#custom-spotify {
    background-image: linear-gradient(to bottom, @bg-color 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid @farleft-color;
    color: @farleft-color;

    transition-duration: 120ms;
}

#cpu,
#memory,
#temperature{
    background-image: linear-gradient(to bottom, @bg-color 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid @left-color;
    color: @left-color;

    transition-duration: 120ms;
}

#workspaces{
    background-image: linear-gradient(to bottom, @bg-color 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid @center-color;
    color: @center-color;

    transition-duration: 120ms;
}

 #workspaces button {
color: @center-color;
}

#workspaces button.active {
color: @bg-color;
background-image: linear-gradient(to bottom, @center-color 100%);
}

#network,
#bluetooth,
#pulseaudio{
    background-image: linear-gradient(to bottom, @bg-color 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid @right-color;
    color: @right-color;

    transition-duration: 120ms;
}

#battery,
#clock,
#custom-powerbutton{
    background-image: linear-gradient(to bottom, @bg-color 100%);
    margin: 5px;
    margin-right: 0px;
    padding: 4px 8px;
    border-radius: 10px;
    border: 1.5px solid @farright-color;
    color: @farright-color;

    transition-duration: 120ms;
}

#custom-powerbutton{
 margin-right: 10px;
 
}

/*background-image: linear-gradient(135deg, #00fdf7, #B200ED) ;*/


